################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SYM1/~$M-1 IO Type T Manual.docx
